<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
        <%= csrf_meta_tags %>
        <%= netzke_init :ext_theme => 'gray' %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
